@model GerenciaTelegrama.Models.Rdm

@{
    ViewBag.Title = "Delete";
}

<h2>EXCLUIR</h2>

<h3>TEM CERTEZA QUE DESEJA DELETAR O ITEM?</h3>
<div>
    <h4>Rdm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodRdm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodRdm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telegrama.NomeProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telegrama.NomeProjeto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("VOLTAR", "Index")
        </div>
    }
</div>
