@model GerenciaTelegrama.Models.Telegrama

@{
    ViewBag.Title = "TELEGRAMA";
}

<h2>CADASTRAR NOVO TELEGRAMA</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        NÚMERO DO TELEGRAMA
        <div class="col-md-5">
            @Html.EditorFor(model => model.CodTelegrama, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CodTelegrama, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        NOME DO PROJETO
        <div class="col-md-5">
            @Html.EditorFor(model => model.NomeProjeto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomeProjeto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        VALOR APROVADO
        <div class="col-md-5">
            @Html.EditorFor(model => model.ValorAprovado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ValorAprovado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        PARTICIPAÇÃO DO DR (%)
        <div class="col-md-5">
            @Html.EditorFor(model => model.ParticipacaoDr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ParticipacaoDr, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        PARTICIPAÇÃO DO DN (%)
        <div class="col-md-5">
            @Html.EditorFor(model => model.ParticipacaoDn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ParticipacaoDn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        DATA DA AUTORIZAÇÃO
        <div class="col-md-5">
            @Html.EditorFor(model => model.DataAutorizacao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DataAutorizacao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        DATA DE VENCIMENTO
        <div class="col-md-5">
            @Html.EditorFor(model => model.DataLimite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DataLimite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        DESCRIÇÃO DO PROJETO
        <div class="col-md-5">
            @Html.EditorFor(model => model.Finalidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Finalidade, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="CONFIRMAR" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("VOLTAR", "Index")
</div>
