@model IEnumerable<GerenciaTelegrama.Models.Telegrama>
@{
    ViewBag.Title = "TELEGRAMA";
}

<div class="card">
    <div class="card-body">

        <h2>TELEGRAMAS</h2>

        <a href="@Url.Action("Create", "Telegrama")" class="btn btn-info btn-sm">
            CADASTRAR NOVO
        </a>


        <!-- MODAL -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">CADASTRAR NOVO</button>

        <!--   -->


        <table class="table">
            <tr class="text-center">
                <th>   NÚMERO   </th>
                <th>   NOME DO PROJETO   </th>
                <th>   VALOR APROVADO    </th>
                <th>   % DR              </th>
                <th>   % DN              </th>
                <th>   DATA DA AUTORIZAÇÃO  </th>
                <th>   DATA DE VENCIMENTO   </th>
                <th>   DESCRIÇÃO            </th>
                <th>   RESPONSÁVEL          </th>
                <th style="width: 180px">   </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr class="text-center">

                    <td>
                        @Html.DisplayFor(modelItem => item.CodTelegrama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeProjeto)
                    </td>
                    <td>
                        @item.ValorAprovado.ToString("C")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParticipacaoDr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParticipacaoDn)
                    </td>
                    <td>
                        @item.DataAutorizacao.ToShortDateString()
                    </td>
                    <td>
                        @item.DataLimite.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Finalidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsavel)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdTelegrama }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.IdTelegrama }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.IdTelegrama })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">
                    <h4>NOVO TELEGRAMA</h4>
                    <hr />
                    <div class="container">
                        <div class="row">

                            <div class="col-md">
                                <label>CODIGO TELEGRAMA</label>
                                <input type="text" name="CodTelegrama" id="CodTelegrama" placeholder="Código do Telegrama" class="form-control" />
                            </div>

                            <div class="col-md">
                                <label>NOME DO PROJETO</label>
                                <input type="text" name="NomeProjeto" id="NomeProjeto" placeholder="Nome do Projeto" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md">
                                <label>VALOR APROVADO</label>
                                <input type="number" name="ValorAprovado" , placeholder="Valor Aprovado" class="form-control" />
                            </div>

                            <div class="col-md">
                                <label>PARTICIPAÇÃO DN</label>
                                <input type="text" name="ParticipacaoDn" , placeholder="% DN" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md">
                                <label>PARTICIPAÇÃO DR</label>
                                <input type="text" name="ParticipacaoDr" , placeholder="% DR" class="form-control" />
                            </div>

                            <div class="col-md">
                                <label>DATA DA AUTORIZAÇÃO</label>
                                <input type="date" name="DataAutorizacao" , placeholder="Data da Autorizacao" class="form-control" />
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md">
                                <label>DATA LIMITE</label>
                                <input type="date" name="DataVencimento" , placeholder="Data Limite" class="form-control" />
                            </div>

                            <div class="col-md">
                                <label>DESCRIÇÃO</label>
                                <input type="text" name="Finalidade" , placeholder="Descrição" class="form-control" />
                            </div>
                        </div>
                        <br />

                        <div class="row text-right">
                            <div class="col-md">
                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal"> CANCELAR </button>
                                <button type="submit" id="myModal" class="btn btn-info btn-lg"> CONFIRMAR </button>
                            </div>
                        </div>

                        @*@Html.ActionLink("Lyubomir ", "ViewLyubomir", "Home", null, new { @class = "modal-link btn btn-success" })*@

                    </div>
                    </div>
            </div>
        </div>
    </div>

</div>





@section Scripts{


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script>

        function cadastrarTelegrama() {
            var telegrama = {
                NomeProjeto: $('#NomeProjeto').val()

            }
            console.log(telegrama)
            @*$.ajax({
                url: '@Url.Action("Ativar","Usuario")',
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(),
                success: function (data) {
                    console.log(data)


                }, error: function (err) {
                    console.log(err)
                }
            });*@
        }


    </script>

    <script>

        $(document).ready(function () {

            $('.btn-bootstrap-dialog').click(function () {
                var url = $('#bootstrapDialog').data('url');

                $.get(url, function (data) {
                    $('#bootstrapDialog').html(data);

                    $('#bootstrapDialog').modal('show');
                });
            });
        });
    </script>


}